h3{
    font-size: 50;
    text-decoration: overline;

}
.blog{
    margin: 10px;
    
    border: 20px;
 box-shadow: 20px 20px ;



}
.secend{
    /* display: none; */
    /* visibility: hidden; */

}